body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 5px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .teams{
    background-color: aquamarine;
    padding: 10px;
  }
  #fixture{
    background-color: cadetblue;
    padding: 10px;
  }
  #genFixture{
    width: 100%;
    text-align: center;
  }
  
  h1, h2 {
    text-align: center;
  }
  
  .input-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    padding: 5px 0;
    border-bottom: 2px solid #191616;
  }
  p{
    font-size: 20px;
  }
  hr{
    height: 3px;
    background-color: #191616;
  }
  #standings{
    background-color: rgb(212, 191, 163);
    padding: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table, th, td {
    border: 1px solid #ccc;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
  }
  #reset{
    text-align: center;
    padding: 20px;
  }
  .tore{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.5rem;
  }

  #countdown{
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    background-color: gray;
    color: white;
  }
  #countdown p{
    font-size: 50px;
  }
  #countdown button{
    border:1px solid white;
    width: 100px;
    
  }

  
  